{{ define "main" }}

  <!-- Hero image -->
  <section class="contact-hero-banner">
    <img src="{{ "images/PlanAnExperiencePage/PlanAnExperience-Hero.jpg" | relURL }}"
         alt="Glenkindie Estate">
  </section>

<!-- Get in Touch Heading + Divider -->
<div class="text-center home-first-section">
  <div class="welcome-image-plan-an-experience"></div>
</div>

<div class="text-center home-first-section simple-text-dark-green-bg">
<h3 style="text-align: center;">Curated experience planning</h3>
</div>


<div class="split-section">
  <div class="split-text simple-text-countour-bg">
    <div class="content">
    <div class="image-share-text-col">
      <h3>The<br>Glenkindie<br>Gardens</h3>
    </div>
    <p style="padding-top: 0rem; padding-bottom: 0rem;">
		Interested in a private tour? Please join our waiting list for an informal, personalized tour of the Glenkindie Gardens.
    </p>
  </div>
  </div>
  <div class="split-image">
    <img src="/images/PlanAnExperiencePage/Plan-inset.jpg" alt="Castle view" class="img-fluid">
  </div>
</div>

{{ end }}