{{ define "main" }}

  <!-- Hero image -->
  <section class="contact-hero-banner">
    <img src="{{ "images/Kildrummy.Manor.opt.jpg" | relURL }}"
         alt="Glenkindie Estate">
  </section>

<!-- Get in Touch Heading + Divider -->
<div class="text-center home-first-section">
  <div class="welcome-image-visit"></div>
  <p>
    The scenic views of the Kildrummy and Glenkindie Estates are just the introduction of what awaits in our neck of the woods. Tucked between the eastern edges of the Cairngorms and the quiet bends of the River Don, these lands hold history that lingers in castle stones and on rolling hills. Here, the forest paths lead to unexpected adventures and local flavors make every visit memorable. We invite you to hike, linger over tea, or follow in royal footsteps on centuries-old grounds.
  </p>
</div>


<div class="wide-image">
  <img src="/images/TheEstatesPage/EstatesLandscape1.png" alt="Panoramic estate view" class="img-fluid w-100">
</div>


<div class="text-center home-first-section alt-hero">
<p>The surrounding area is full of places worth exploring, from hilltop castles to local farm shops, forest cycle trails to quiet museums. Some visitors come for the walking. Others come for the food, the wildlife, or the sense of space that’s hard to find elsewhere.
</p>
<p>There are no theme parks here, no queues or crowded lookouts. Just a lived-in landscape, shaped by people, weather, and time. However you choose to spend your visit, we hope it leaves you more grounded and wanting to return.
</p>
</div>


<div class="split-section simple-text-countour-bg">
  <div class="split-image">
    <img src="/images/TheEstatesPage/TheEstatesInset1.png" alt="Estate view" class="img-fluid">
  </div>
  <div class="split-text">
    <p>
      There are no theme parks here, no queues or crowded lookouts. Just a lived-in landscape, shaped by people, weather, and time. However you choose to spend your visit, we hope it leaves you more grounded and wanting to return.
    </p>
  </div>
</div>


{{ end }}

